.page-not-found{
    background-image: url('../../images/about/pagenotfound.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-not-found h1{
    color: white;
}